@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("/Poppins-Light.ttf");
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/Poppins-Bold.ttf");
    font-weight: bold;
    font-display: swap;
  }

  .page-width {
    @apply px-10 sm:px-16 md:px-28 lg:px-48;
  }

  .section {
    @apply flex flex-col justify-center py-12 py-20 lg:min-h-screen;
  }

  .responsive-title {
    @apply text-3xl md:text-5xl lg:text-6xl pb-5 md:pb-8 lg:pb-10;
  }

  .responsive-text {
    @apply md:text-xl;
  }

  .nav-link {
    @apply hover:text-slate-400;
  }

  .active-link {
    @apply text-slate-400;
  }
}
