<!doctype html>
<html lang="en">
  <head>
    <title>UTSC ACF</title>
  </head>
  <body>
    <!-- Vision Statement -->
    <div class="bg-beige page-width py-24 flex flex-col h-4/5">
      <h1 class="text-6xl leading-tight">
        "To live into our mission and identity: Being a <b>light</b> of the
        campus, <b>desiring and sharing God's love to one another</b>."
      </h1>
      <p class="italic self-end">- ACF Vision 2023-2024</p>
    </div>

    <!-- Placeholder for some other content -->
    <div class="bg-black text-white page-width py-24">
      <h1 class="text-4xl">Placeholder Title</h1>
      <p class="text-xl pt-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam
        aliquid libero deleniti a ad, inventore corrupti alias nostrum doloribus
        ea ducimus error recusandae? Natus quae a corrupti, quaerat asperiores
        aspernatur cum eveniet atque placeat laborum dolores deleniti assumenda
        beatae possimus vitae ducimus officia hic facilis nesciunt, harum amet
        dignissimos.
      </p>
      <p class="text-xl pt-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam
        aliquid libero deleniti a ad, inventore corrupti alias nostrum doloribus
        ea ducimus error recusandae? Natus quae a corrupti, quaerat asperiores
        aspernatur cum eveniet atque placeat laborum dolores deleniti assumenda
        beatae possimus vitae ducimus officia hic facilis nesciunt, harum amet
        dignissimos.
      </p>
    </div>
  </body>
</html>
