<!doctype html>
<html lang="en">
  <head>
    {{ define "head"}}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/css/output.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/assets/acf-logo.ico" />
    <script src="/static/js/htmx.min.js" defer></script>
    {{end}}
  </head>
  <body>
    {{ define "header"}}
    <header
      class="bg-beige flex flex-row flex-wrap justify-between pt-14 pb-4 page-width"
    >
      <!-- Left Side: Title -->
      <div
        class="flex flex-row items-end cursor-pointer"
        hx-get="/"
        hx-target="body"
        hx-push-url="true"
      >
        <img class="h-[4em]" src="/static/assets/acf-logo.svg" alt="ACF Logo" />
        <p class="font-bold text-4xl mx-3">ACF</p>
      </div>

      <!-- Right Side: Navigation -->
      <button class="pb-1 self-end md:hidden nav-link" id="show-navbar">
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-8 h-8"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
      <nav
        hx-boost="true"
        class="pt-10 hidden basis-full md:pt-0 md:basis-auto md:flex md:flex-row md:items-end"
        id="navbar"
      >
        <!-- Checks which page we are on and highlights the link -->
        <ul class="flex flex-col gap-6 md:flex-row">
          <li>
            <a href="/ministries" class="block nav-link responsive-text"
              >Ministries</a
            >
          </li>
          <li>
            <a href="/committee" class="block nav-link responsive-text"
              >Committee</a
            >
          </li>
          <li>
            <a href="/contact" class="block nav-link responsive-text">
              Join Us
            </a>
          </li>
        </ul>
      </nav>
    </header>
    {{ end }} {{ define "footer"}}
    <footer
      class="bg-black text-white page-width flex flex-col justify-center items-center py-10"
    >
      <h3 class="responsive-title">Contact Us</h3>
      <nav class="mb-10 mt-2 flex gap-4">
        <a
          class="nav-link responsive-text"
          href="https://www.instagram.com/acf.utsc/"
          >Instagram</a
        >
        <a class="nav-link responsive-text" href="acf.utsc@gmail.com">Email</a>
      </nav>
      <p>Made with Go, HTMX, Tailwind CSS, and ❤️</p>
    </footer>
    <script>
      const showNav = document.querySelector("#show-navbar");
      const nav = document.querySelector("#navbar");
      showNav.addEventListener("click", () => {
        if (nav.classList.contains("hidden")) {
          nav.classList.remove("hidden");
        } else {
          nav.classList.add("hidden");
        }
      });
    </script>
    {{ end }}
  </body>
</html>
